<?xml version="1.0"?>
<config>
    <modules>
        <Bewype_SimpleModel>
            <version>0.0.1</version>
        </Bewype_SimpleModel>
    </modules>
    <global>
        <models>
            <dummydebug>
				<class>Bewype_Dummydebug_Model</class>
				<resourceModel>dummydebug_mysql4</resourceModel>		
            </dummydebug>
            <dummydebug_mysql4>
                <class>Bewype_Dummydebug_Model_Mysql4</class>
                <entities>
                    <dummydebug>
                        <table>bewype_dummydebug</table>
                    </dummydebug>
                </entities>                
            </dummydebug_mysql4>
        </models>
        <resources>
            <dummydebug_setup>
                <setup>
                    <module>Bewype_Dummydebug</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dummydebug_setup>
            <dummydebug_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dummydebug_read>
            <dummydebug_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dummydebug_write>                
		</resources>
	</global>    
</config>
